<h1>Users</h1>
<hr>

<div class="row">
  <div class="col-sm-3">
    <ul>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-3">
    <ul>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-3">
    <ul>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-3">
    <ul>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

</div>
