<div class="user1">
  <h1>Users</h1>
  <hr>

  <% @users.each_slice(4) do |users| %>
    <div class="row">
      <% users.each do |user| %>
        <div class="col-sm-3">
          <p><%= image_tag user.image %></p>
          <h1><%= link_to user.name, user_path(user) %></h1>
          <h3><%= user.language %></h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
